.list-page-wrapper {
	box-sizing: border-box;
	background-color: #1d1c4b;
	height: 100vh;
	margin: 0;
}
.welcome-message {
	font-size: 24px;
	color: #f5f5f5;
	width: 100%;
	padding: 30px 0;
	text-align: center;
	background: #3475c070;
}
.sign-out-button {
	position: absolute;
	right: 10%;
	background: transparent;
	border: hidden;
}

.sign-out-button:hover {
	transform: scale(1.2);
}
.add-button {
	background-color: transparent;
	border: hidden;
	position: absolute;
	right: 0;
	padding: 6px;
}
.add-new-item-notification {
	position: absolute;
	top: -15px;
	color: #f5f5f5;
	font-size: 22px;
	left: 2%;
}
.fixed-form {
	border-radius: 8px;
	position: sticky;
	bottom: 25px;
	padding-top: 55px;
	box-sizing: border-box;
	box-shadow: inset 0px 31px 31px -24px #344588;
}
.scrollable-list {
	overflow-y: scroll;
	height: 55vh;
	border-radius: 8px;
}
.scrollable-list::-webkit-scrollbar {
	display: none;
}
.list-wrapper {
	position: relative;
	min-width: 30%;
	margin: 2% 5%;
	display: flex;
	justify-content: center;
	padding: 1% 4%;
	flex-direction: column;
	border-radius: 8px;
	font-size: 24px;
}
.item-checkmark {
	top: 10%;
	right: 5px;
	position: absolute;
}
.add-new-item-field {
	width: 100%;
	height: 55px;
	border-radius: 8px;
	background-color: #1d1c4b80;
	border: hidden;
	font-size: 22px;
	color: #f5f5f5;
	text-indent: 5%;
	box-sizing: border-box;
	padding: 2%;
}
.add-new-item-field::placeholder {
	color: #c24edfbf;
}

.list-wrapper::before {
	content: '';
	background-image: linear-gradient(#3475c0 0%, #c24edf 100%);
	opacity: 0.5;
	background-size: cover;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	border-radius: 8px;
}

.list-children {
	position: relative;
}
.list-item {
	box-sizing: border-box;
	color: #f5f5f5;
	background-color: #1d1c4b80;
	text-indent: 2%;
	width: 100%;
	border-radius: 8px;
	margin: 5% 0;
	height: 55px;
}
.list-item-input:checked ~ label {
	color: #1d1c4b;
	font-weight: 600;
}
.list-item-input:checked ~ label:before {
	transform: translate(-50%, -50%) scale3d(70, 56, 1);
	opacity: 1;
}
.list-item-input:checked ~ label:after {
	opacity: 0;
}
.list-item-input {
	position: absolute;
	opacity: 0;
	height: 0;
	width: 0;
	order: 1;
	z-index: 2;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	visibility: hidden;
}
.list-item-label {
	padding-top: 10px;
	width: 100%;
	display: block;
	text-align: left;
	color: #f5f5f5;
	cursor: pointer;
	position: relative;
	z-index: 2;
	transition: color 200ms ease-in;
	overflow: hidden;
	height: 45px;
	border-radius: 8px;
}
.list-item-label::before {
	width: 10px;
	height: 10px;
	content: '';
	background: linear-gradient(
		to right,
		#ccff66 10%,
		#0ee9db 45%,
		#c24edfbf 60%
	);
	position: absolute;
	left: 50%;

	transform: translate(-50%, -50%) scale3d(1, 1, 1);
	transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
	opacity: 0;
	z-index: -1;
	border-radius: 8px;
}
.list-item-label::after {
	content: '';
	z-index: 2;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	transition: all 200ms ease-in;
}
.list-title {
	text-align: center;
	margin-bottom: 65px;
	padding-top: 10px;
}
.list-item-position {
	width: 100%;
	box-sizing: border-box;
	padding: 0;
}
@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	[class*='list-wrapper'] {
		width: 90%;
		margin: 10% 0 0;
		padding-bottom: 30px;
	}
	[class*='list-page-wrapper'] {
		box-sizing: border-box;
		width: 100%;
		margin: 0;
		height: 100vh;
	}
}
@media only screen and (min-width: 600px) {
	/* For tablets: */
	[class*='list-wrapper'] {
		width: 85%;
		margin: 5% auto;
		box-sizing: border-box;
		padding-bottom: 30px;
	}
	[class*='list-page-wrapper'] {
		width: 100%;
		box-sizing: border-box;
		margin: 0;
		height: 100vh;
		overflow: hidden;
	}
}
@media only screen and (min-width: 1000px) {
	[class*='list-page-wrapper'] {
		box-sizing: border-box;
		height: 100vh;
		overflow: hidden;
	}
	[class*='list-wrapper'] {
		width: 45%;
		margin: 2% 5%;
		box-sizing: border-box;
	}
}
@media only screen and (min-width: 1100px) {
	[class*='list-wrapper'] {
		width: 38%;
		box-sizing: border-box;
	}
	[class*='list-page-wrapper'] {
		box-sizing: border-box;
		height: 100vh;
		overflow: hidden;
	}
}
